html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

body {
  background: #111;
  background-size: cover;
  font-family: 'Roboto Slab', serif;
  color: rgba(lightsteelblue, 0.3);
}

#display {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr auto;
  height: 100%;
  background: rgba(#111, 0.5);
  backdrop-filter: blur(4px);
}

#player {
  position: absolute;
  bottom: 4rem;
  opacity: 0;
}

#time {
  grid-column: 1 / span 2;
  align-self: flex-end;
  justify-self: center;
  font-size: 8rem;
}

#details {
  grid-column: 1 / span 2;
  align-self: flex-start;
  justify-self: center;
  font-size: 4.5rem;
  text-align: center;
}

#viz {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease-in-out;

  .viz-active & {
    opacity: 0.15;
  }
}

.control {
  padding: 0.5rem;
  background: none;
  border: none;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  opacity: 0.1;
  transform: scale(3);
  transition: opacity 0.15s ease-in-out;

  &:hover {
    opacity: 0.666;
  }
}

#weather {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  transform-origin: top left;
  opacity: 0.2;

  &:hover {
    opacity: 0.666;
  }
}

#history-icon {
  justify-self: flex-end;
  transform-origin: top right;
}

#viz-control {
  justify-self: flex-start;
  align-self: flex-end;
  transform-origin: bottom left;
}

#background {
  justify-self: flex-end;
  align-self: flex-end;
  transform-origin: bottom right;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

#background-attribution {
  color: #fff;
  font-size: 0.5rem;
}

#history {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  font-size: 3rem;
  transform: translateX(99%);
  transition: all 0.15s ease-in-out;

  &:hover {
    transform: translateX(0%);
  }

  li {
    margin: 1rem 3rem;
    text-align: right;
  }

  a {
    color: #fff;
    text-decoration: none;
    transition: color 0.15s ease-in-out;

    &:hover {
      color: steelblue;
    }
  }
}
